DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/mbti
SECRET_KEY=change-me-in-production
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
DEBUG=true

BOT_USERNAME=
BOT_TOKEN=
PREMIUM_PRICE=9990
PAYMENT_CARD_NUMBER=9860270101495298
PAYMENT_CARD_HOLDER=AKBARALI XXXXX
PAYMENT_ADMIN_TELEGRAM=
PAYMENT_SUPPORT_BOT_USERNAME=Test72541Bot
ADMIN_TELEGRAM_ID=
PUBLIC_BASE_URL=http://127.0.0.1:8000
